@import "tailwindcss";
@keyframes progress {
  0% { transform: translateX(-100%); }
  100% { transform: translateX(100%); }
}

.animate-progress {
  animation: progress 1.5s linear infinite;
}


@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600;700;800&display=swap');

body {
  font-family: 'Playfair Display', serif;
}


